.search {
    margin-left: 540px;
}
.score {
    font-size: 75px;
    position: relative;
    margin-left: 500px;
    
}

.body {
 background-image: url("https://wallpaperset.com/w/full/2/7/9/7711.jpg");
 background-size: cover;
}